@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 15px;
    max-width: 950px;
    box-sizing: border-box;
  }
  .nav-menu {
    width: 100%;
  }
  .social {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 710px;
    padding: 0 10px;
  }
  .header-logo {
    width: 286px;
    float: none;
    margin: 0 auto 10px;
  }
  .logo-text {
    float: left;
  }
  .header-contact {
    float: none;
    width: 312px;
    margin: 0 auto;
    padding-bottom: 4px;
  }
  .header-bottom {
    width: 100%;
  }
  .nav-menu {
    box-sizing: border-box;
    padding: 20px 20px 20px 50px;
  }
  .nav-list {
    display: none;
  }
  .nav-menu i {
    display: inline;
  }
  .main-breadcrumb {
    padding: 50px;
  }
  .sidebar-left {
    display: none;
  }
  .main-content {
    width: 100%;
    float: none;
  }
  .main-bottom {
    padding-top: 40px;
  }
  .main-content-item {
    width: 50%;
  }
  .page-footer {
    height: auto;
  }
  .footer-content-list {
    padding-left: 10px;
    box-sizing: border-box;
  }
  .footer-content-item {
    width: 50%;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
  .copy-right {
    box-sizing: border-box;
    text-align: center;
  }
}
@media only screen and (max-width:480px ){
  .container {
    padding:0;
  }
  .main-content-item {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .header-logo,
  .header-contact {
    box-sizing: border-box;
    width: auto;
  }
  .logo-text {
    text-align: center;
  }
  .footer-content-item {
    width: 100%;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-top: 10px;
  }
}