.main-breadcrumb {
  padding: 76px;
  margin-bottom: 76px;
  background-size: cover;
  background: url('../images/banner.png') no-repeat center center;
  @include respondTo(mediumlarge) {
    padding: 50px;
  }
  .main-breadcrumb-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .main-breadcrumb-item {
    float: left;
    margin-left: 19px;
    font-family: $second-font;
    font-size: 12px;
    text-transform: uppercase;
  }
}
