*{
  box-sizing: border-box;
}
.page-main{
  max-width: 500px;
  height: 500px;
  background-color: #6dfbfb;
  position: relative;
  margin: 50px auto;
}
.main-div{   
  width: 10%;
  height: 10%;
  float: left;
}
.div1{  
  border-radius: 50%;
  background-color: #ed3833;
  position: absolute;
  top: 0;
  left: 0;
}
.div2{
  background-color: #fef851;
  border-radius: 8px;
  border: 2px solid #812b80;
  position: absolute;
  top: 0;  
  margin: auto;
  right: 0;
  left: 0;
}
.div3{
  background-color: #2046f5;
  position: absolute;
  top: 0;
  right: 0;
}
.div4{
  background-color: #3a811d;
  border-right: #2046f5 10px solid;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.div5{
  background-color: #f5a540;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  left: 0;  
}
.div6{
  background-color: #812b80;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
}
.div7{
  color: #3a811d;
  position: absolute;  
  left: 0;
  bottom: 0;
}
.div8{
  background-color: #000000;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 1.5rem;
}
.div9{
  background-color: #7a7a7a;
  position: absolute;
  bottom:0;
  right:0;
}
.main-text{
  text-transform: uppercase;
  font-weight: bold;
  line-height: 100%;
  font-size: 100%;
}
.a{
  text-align: center;
}
.b{
  text-align: right;
}
.c{
  text-align: left;
}
.i{
  color: #e63e32;
  margin-top: -10px;
}
.h{
  color: white;
}
