$primary-font: Myriad Pro;
$second-font: Arial;
$primary-fontsize: 20px;
$second-fontsize: 17px;
$third-fontsize: 18px;
$four-fontsize: 14px;
$primary-color: #4cc1fc;
$max-large: 1024px;
$medium-large: 767px;
$tablet-large: 480px;
$mobile-large: 320px;
